

@media (min-width: 66.5rem) {
  .main {
    margin-left: max(5rem, (100% - 66.5rem) / 2 + 5rem) !important;
    max-width: 1200px;
  }
}

@media (min-width: 66.5rem) {
    .side-bar {
        max-width: 15rem ;
    }
}